$validation-color: #a91b0c;

.validation-message {
  border: 1px solid $validation-color;
  padding: 5px 15px;
  color: $validation-color;
  border-radius: 4px;
  margin-bottom: 20px;
}

#buy-btc {
    label {
        display:block;
    }

    input {
        width:100%;
        height: 45px;
    }
    .cot {
        margin-bottom: 25px;
    }

    .confirm-transaction-btn {
    	margin-top: 25px;
    }

    .validation-btc-amount {
    	@extend .validation-message;
    	display: none;
    }
}

#sell-btc {
    label {
        display:block;
    }

    input {
        width:100%;
        height: 45px;
    }
    .cot {
        margin-bottom: 25px;
    }

    .confirm-transaction-btn {
    	margin-top: 25px;
    }

    .validation-pesos-amount {
    	@extend .validation-message;
    	display: none;
    }
}

#history {
    .list-header {
        font-weight: bold;
        border-bottom:1px solid #e2e2e2;
        padding: 10px 0;
        margin-bottom: 10px;
    }
}

#nav-header {
	.nav-user {
		float: right;
		list-style-type: none;
	}

	span {
		padding: 11px 15px;
		display: block;
	}
}

#login-form {
	input {
		margin-bottom: 20px;
	}

	button {
		margin-bottom: 15px;
	}
}

#register-form {
	input {
		margin-bottom: 20px;
	}

	button {
		margin-bottom: 15px;
	}
}